body {background-color:#27408B; background-image:url(objetos/fondo.PNG);
background-position:center center; background-repeat:no-repeat; height:100%;;} 
img {border-style:none;}
.centrado {text-align:center;}  